@{
    ViewBag.Title = "A propos de Miam";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Cette application permet de créer des menus hebdomadaires, et génère la liste de courses associée.</p>
